@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7e7e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  position: absolute;
  width: 100%;
  height: 63px;
  left: 0px;
  top: 0px;
  background: #0acd86;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 120px;
  height: 100%;
  background: #0aab6b;
}

.menu {
  width: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:20px;
  font-family: 'Jockey One', sans-serif;
}

.btn-menu, .selected{
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 34px;
  background: #0ACD86;
  font-family: "Jockey One";
  font-size: 20px;
  text-align: center;
  color: #0AAB6B;
  cursor: pointer;
  transition: 0.4s;
  
}

.btn-menu:hover, .selected{
  background: #FFFFFF;
}

.user-profile {
  width: 120px;
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 50px;
  cursor: pointer;
}

main {
  width: calc(100vw - 200px);
  height: 640px;
  left: 117px;
  margin: 0 auto;
  margin-top: 100px;
}

.Add{
  height: 212px;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

input::placeholder {
  color: #e7e7e7;
}

.inputDescription{
  margin-top: 40px;
  margin-left: 30px;
  width: 650px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 17px;
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  color: black;
  padding-left: 20px;
  border: none;
}

.inputDate{
  margin-top: 20px;
  margin-left: 30px;
  width: 260px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 17px;
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.inputLocal{
  margin-top: 20px;
  margin-left: 70px;
  width: 280px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 17px;
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  color: black;
  padding-left: 20px;
  border: none;
}

.btnadicionar{
  margin-left: 30px;
  height: 38px;
  text-align: center;
  width: 150px;
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  border: none;
  background: #0AAB6B;
  border-radius: 17px;
  color: white;
}

.btnlimpar{
  margin-left: 30px;
  height: 38px;
  text-align: center;
  width: 150px;
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  border: none;
  background: #E1B84F;
  border-radius: 17px;
  color: white;
}

.Show{
  height: 476px;
  background: #F2F2F2;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.showDescription{
  margin: 0;
  text-align: center;
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #0ACD86;
}

.showDate{
  margin: 0;
  padding-top: 10px;
  text-align: center;
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  color: #D2D2D2;
}

.showLocal{
  margin: 0;
  text-align: center;
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #D2D2D2;
}

.cardshow{
  background-color: white;
  margin-left: 20px;
  width: 327px;
  height: 183px;
  border-radius: 18px;
}